[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
nose = "*"
coverage = "*"
tox = "*"
pylint = "*"
responses = "*"

[packages]
rerobots = {path = ".", editable = true, extras = ["extra"]}
