[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "*"
pylint = "*"
pytest = "*"
rerobots = {extras = ["extra"],path = "."}
responses = "*"
tox = "*"

[packages]
rerobots = {path = ".",editable = true,extras = ["extra"]}
