[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
coverage = "*"
tox = "*"
pylint = "*"
responses = "*"
rerobots = {extras = ["extra"],path = "."}

[packages]
rerobots = {path = ".",editable = true,extras = ["extra"]}
